snippet main "main func of c"
#include <stdlib.h>
#include <stdio.h>

int main (int argc, const char* argv[])
{
	${1:code}
	return EXIT_SUCCESS;
}
endsnippet

snippet func "function of c"
${1:ret name} (${2:param})
{
	${0:code}
	return ;
}
endsnippet
