snippet filehead "file head of sh"
#!/bin/bash
###################################################
# Filename: `!v expand("%:t")`
# Author: shing
# Email: www.asm.best
# Created: `!v strftime("%c")`
# Changed: `!v strftime("%c")`
###################################################

endsnippet
